<div class="bannercontainer">
    <div class="banner">
        <ul>

            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Rush.'>
                <img alt='' src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/m/o/morbius-980x448.jpg">
                <div class="caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"
                     data-splitin="chars"
                     data-elementdelay="0.1"
                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                     data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "
                     data-splitout="lines"
                     data-endelementdelay="0.1"
                     data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn">
                    MORBIUS
                </div>

                <div class="caption slide__time margin-slider sfr str"
                     data-x="right"
                     data-hoffset='-243'
                     data-y="186"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-end="8700"
                     data-endeasing="Back.easeIn">
                    From
                </div>
                <div class="caption slide__date margin-slider lfb ltb"
                     data-x="right"
                     data-hoffset='-149'
                     data-y="186"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-end="8200"
                     data-endeasing="Back.easeIn">
                    01/04/2022
                </div>
                <div class="caption slide__time margin-slider sfr str"
                     data-x="right"
                     data-hoffset='-113'
                     data-y="186"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-end="8700"
                     data-endeasing="Back.easeIn">
                    - till
                </div>
                <div class="caption slide__date margin-slider lfb ltb"
                     data-x="right"
                     data-y="186"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-end="8200"
                     data-endeasing="Back.easeIn">
                    02/05/2022
                </div>
                <div class="caption slide__text margin-slider customin customout"
                     data-x="right"
                     data-y="250"
                     data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="400"
                     data-start="3000"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Back.easeIn">
                    Một huyền thoại Marvel mới sắp lộ diện. Là ác nhân hay anh hùng? Sẽ phá hủy hay chữa lành thế giới này? Morbius khởi chiếu tại CGV 01.04.2022
                </div>
                <div class="caption margin-slider skewfromright customout "
                     data-x="right"
                     data-y="324"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="400"
                     data-start="3300"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-end="7700"
                     data-endeasing="Power4.easeOut">
                    <a href="#" class="slide__link">check out cinemas &amp; time</a>
                </div>
            </li>



            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Stop wishing. Start doing.'>
                <img alt='' src="https://starlight.vn/Areas/Admin/Content/Fileuploads/images/Slider/sinh%20v%E1%BA%ADt%20huy%E1%BB%81n%20b%C3%AD.jpg">
                <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
                     data-x="left"
                     data-y="160"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-endspeed="500"
                     data-end="8600"
                     data-endeasing="Back.easeIn">
                    Stop <span class="highlight">wishing.</span> Start <span class="highlight">doing.</span>
                </div>

                <div class="caption slide__descript customin customout"
                     data-x="left"
                     data-y="240"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="2000"
                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn">
                    find your best match movie with A.MOVIE
                </div>

                <div class="caption lfb customout slider-wrap-btn"
                     data-x="left"
                     data-y="310"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Power4.easeOut">
                    <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                </div>
            </li>
            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Stop wishing. Start doing.'>
                <img alt='' src="https://starlight.vn/Areas/Admin/Content/Fileuploads/images/Slider/okela.jpg">
                <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
                     data-x="left"
                     data-y="160"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-endspeed="500"
                     data-end="8600"
                     data-endeasing="Back.easeIn">
                    Stop <span class="highlight">wishing.</span> Start <span class="highlight">doing.</span>
                </div>

                <div class="caption slide__descript customin customout"
                     data-x="left"
                     data-y="240"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="2000"
                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn">
                    find your best match movie with A.MOVIE
                </div>

                <div class="caption lfb customout slider-wrap-btn"
                     data-x="left"
                     data-y="310"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Power4.easeOut">
                    <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                </div>
            </li>
            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Stop wishing. Start doing.'>
                <img alt='' src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/b/a/bad-guys-980_x_448__1_.jpg">
                <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
                     data-x="left"
                     data-y="160"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-endspeed="500"
                     data-end="8600"
                     data-endeasing="Back.easeIn">
                    Stop <span class="highlight">wishing.</span> Start <span class="highlight">doing.</span>
                </div>

                <div class="caption slide__descript customin customout"
                     data-x="left"
                     data-y="240"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="2000"
                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn">
                    find your best match movie with A.MOVIE
                </div>

                <div class="caption lfb customout slider-wrap-btn"
                     data-x="left"
                     data-y="310"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Power4.easeOut">
                    <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                </div>
            </li>
            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Stop wishing. Start doing.'>
                <img alt='' src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980_x_448__3_.png">
                <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
                     data-x="left"
                     data-y="160"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-endspeed="500"
                     data-end="8600"
                     data-endeasing="Back.easeIn">
                    Stop <span class="highlight">wishing.</span> Start <span class="highlight">doing.</span>
                </div>

                <div class="caption slide__descript customin customout"
                     data-x="left"
                     data-y="240"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="700"
                     data-start="2000"
                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn">
                    find your best match movie with A.MOVIE
                </div>

                <div class="caption lfb customout slider-wrap-btn"
                     data-x="left"
                     data-y="310"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Power4.easeOut">
                    <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                </div>
            </li>
        </ul>
    </div>
</div>